@model JobOffersWeb.Models.RolseModel

<h3>هل انت متاكد من حذف الوظيفة</h3>

<div>
    <h4>RolseModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="تاكيد الحذف" class="btn btn-danger" />
        @Html.ActionLink("العودة الى القائمة", "Index")
    </div>

    }
</div>
